.footer {
  background-color: var(--bg);
  color: var(--text);
  padding: 2rem 1rem;
  text-align: center;
  border-top: 1px solid var(--primary);
  box-shadow: 0 -5px 15px rgba(0, 255, 255, 0.1);
  margin-top: auto;

  .footer-content {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

.social-icons {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  flex-wrap: wrap;
}


  p {
    font-size: 0.9rem;
    color: var(--text-light, #aaa);
  }
}

@media (max-width: 480px) {
  .footer-content {
    gap: 0.8rem;
  }

  .social-icons {
    gap: 1rem;

    .icon-link {
      font-size: 1.5rem;
    }
  }

  p {
    font-size: 0.75rem;
  }
}

.icon-link {
  font-size: 2rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: scale(1.2);
  }

  &.linkedin {
    color: #0077B5;
    filter: drop-shadow(0 0 5px #0077B5);
    &:hover {
      box-shadow: 0 0 15px #0077B5;
    }
  }

  &.github {
  color: #171515;
  filter: drop-shadow(0 0 5px #171515);

  &:hover {
    box-shadow: 0 0 15px #171515;
  }

  // Modo escuro (quando darkMode estiver ativado)
  body.dark-theme & {
    color: #ffffff;
    filter: drop-shadow(0 0 5px #ffffff);

    &:hover {
      box-shadow: 0 0 15px #ffffff;
    }
  }
}


  &.whatsapp {
    color: #25D366;
    filter: drop-shadow(0 0 5px #25D366);
    &:hover {
      box-shadow: 0 0 15px #25D366;
    }
  }

  &.email {
    color: #D14836;
    filter: drop-shadow(0 0 5px #D14836);
    &:hover {
      box-shadow: 0 0 15px #D14836;
    }
  }
}
