body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f9f9f9;
  color: #222;
}

main {
  padding: 2rem;
}

.btn {
  background: #1e90ff;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 1rem;
  display: inline-block;
}

:root {
  --bg: #ffffff;
  --text: #121212;
  --primary: #007bff;
}

body.dark-theme {
  --bg: #121212;
  --text: #ffffff;
  --primary: #568291;
  background-color: var(--bg);
  color: var(--text);
}
